nltk==3.8.1
numpy==1.24.2
pandas==1.5.3
Pillow==10.3.0
pysafebrowsing==0.1.2
python-dotenv==1.0.1
python_whois==0.9.4
Requests==2.32.3
scikit_learn==1.5.0
scipy
streamlit==1.35.0
streamlit_elements==0.1.0
tensorflow==2.15.0
xgboost
